.Estacion { 
  background-color: #1F4E79; 
  color: white; }

    .Magna {
       background-color: #4CAF50; 
       color: white; }

    .Diesel { 
      background-color: #616161; 
      color: white; }

    .Premium {
      background-color: #F44336; 
      color: white; }

    .RazonSocial {
      background-color: #00BCD4;
      color: white;
      text-align: center;
      justify-content: center;}

    .table thead th {
       text-align: center; }

.boton-destacado:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  /* sombra más intensa */
  transform: scale(1.05);
  /* agrandar levemente */
  transform: translateY(-2px);
}

.boton-destacado:active {
  transform: scale(0.9);
  /* efecto cuando se hace clic */
  transition: .3s ease;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Aplicar la animación al hacer hover */
.boton-destacado:hover {
  animation: bounce 0.5s ease infinite;
  /* Duración: 0.5s, suavizado, se repite */
}

.nav-tabs .nav-link {
  color: white; /* gris claro para pestañas inactivas */
}

.nav-tabs .nav-link.active {
  color: black; /* blanco para la pestaña activa */
}

/* Este es el "halo" que sigue al mouse */
.lighting-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background: radial-gradient(circle 30px at var(--x) var(--y),
      rgb(250, 247, 247),
      transparent 60%);
  transition: opacity 0.1s;
  opacity: 0;
  /* Inicialmente invisible */
}

body:hover .lighting-effect {
  opacity: 90;
  /* Solo visible cuando el mouse está dentro */
}

/* Personalización del efecto hover solo en tablas con table-hover */
.table-hover tbody tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #343a40;
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, background-color 0.2s ease;
  }

  .btn-scroll:hover {
    transform: scale(1.1);
    background-color: #495057;
  }

  .modificado-xml td {
        background-color: #ffe0b2 !important; /* Naranja claro */
        font-weight: bold;
    }

    .modificado-excel td {
        background-color: #c8e6c9 !important; /* Verde claro */
        font-weight: bold;
    }

    .modificado-ambos td {
        background-color: #ef9a9a !important; /* Rojo claro */
        font-weight: bold;
    }

    .table thead th,
    .table tbody td {
        white-space: nowrap;
    }

    .table-group td {
        background-color: #BFBFBF;
        font-weight: bold;
    }

    footer {
  background-color: #000;
  font-size: 0.75rem;
    color: white;
  }

  footer img {
    height: 50px;
  }